.userList {
    box-sizing: border-box;
    width: 100%;
    min-height: 400px;
    background-color: #5cffcb;
    padding: 30px;
}

.table {
    border: #000000 solid 1px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    background-color: #2affba;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.table:hover {
    background-color: #aaffe2;
    transform: scale(1.01);
}

.table:active {
    background-color: #00ffaf;
}

.cellTable {
    width: 50%;
    font-weight: bold;
    font-family: Roboto, sans-serif;

}